<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <link href="../../assets/styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/styles/css/blog-home.css" rel="stylesheet">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <h5>
        <font color="white">POSTS BLOGGER</font>
      </h5>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <div *ngIf="!isLoggedIn">
            <li class="nav-item">
              <button class="login" (click)="loginHeader()">Login</button>
            </li>
          </div>
        </ul>
      </div>
    </div>
    <div *ngIf="isLoggedIn">
      <div class="logout-wrapper">
        <div class="userName">
          <i class="material-icons">
            account_circle
          </i>
          <span>{{getUserName()}}</span>
        </div>
        <button (click)="logOutHeader()" matTooltip="Sign Out" mat-icon-button color="primary">
          <div class="power">
            <i class="material-icons">
              power_settings_new
            </i>
          </div>
        </button>
      </div>
    </div>
  </nav>
</body>

</html>