<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blog Home - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="../../assets/styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../../assets/styles/css/blog-home.css" rel="stylesheet">

</head>

<body>


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
    
        <!-- Blog Post -->
      <div *ngFor="let post of posts | paginate:{ itemsPerPage:10,currentPage:p} "> 
        <div class="card mb-4">
          
          <div class="card-body">
            <h2 class="card-title">{{post.title}}</h2>
            <p class="card-text">{{post.body}}</p>
            <button (click)="viewPost(post.id)" class="btn btn-primary">Read More &rarr;</button>
          </div>
        </div>
       
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls> 
 
      </div> 
      <div class="col-md-4">
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="input" class="form-control" (keyup)="applyFilter($event.target.value)" 
              placeholder="Search for...">
             </div>
          </div>
        </div>

      <div *ngIf="check">
        <button class="btn btn-primary btn-lg btn-block" (click)="addPost()">Add Post</button>
      </div>

      </div>
    </div>
  </div>
 
  <script src="../../assets/styles/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/styles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
