<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="../../assets/styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../assets/styles/css/blog-post.css" rel="stylesheet">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h1 class="mt-4">{{posts1.title}}</h1>
        <hr>
        <p class="lead" *ngIf="!edit">{{posts1.body}}</p>
        <div class="form-group" *ngIf="edit">
          <textarea class="form-control" [(ngModel)]="postBody" name="test" rows="3"></textarea>
        </div>
        <button (click)="editPost(postBody)" *ngIf="check && !edit" class="btn btn-primary">Edit Post</button>
        <button (click)="savePost(postBody)" *ngIf="edit" class="btn btn-primary">Save</button>
        <hr>
        <p class="lead">Originally added by - {{users[0].name}}</p>
        <p class="lead" *ngIf="save">Edited by - {{getUserName()}}</p>
        
      <div *ngIf="check"> 
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" #commentInput rows="3"></textarea>
              </div>
              <button (click)="addComment(commentInput.value)" class="btn btn-primary">Comment</button>
            </form>
          </div>
        </div>
      </div>  
      </div>  

      <div class="col-lg-12">
        <h2>Comments</h2>
        <hr>
          <div *ngFor="let c of comments">
                 <div class="card my-4">
                    <div class="card-body">
                        <p class="lead">{{c.body}}</p>
                        <p class="lead">User Name - {{c.name}}</p>
                    </div>
                 </div> 
                 <button *ngIf="c.name === 'user1'" (click)="deleteComment(c.id)" class="btn btn-primary"  style="margin-left: 10px !important;">Delete Comment</button>
          </div>
      </div>
    </div>
  </div>
  
  <script src="../../assets/styles/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/styles/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
