<div class="login_body">
 
<div class="container">
  <div class="login_container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" enctype="multipart/form-data">
      <div class="login_area">
        <div class="form-group">
          <label for="uname">UserName<sup class="asterisk">*</sup></label>
          <input type="text" class="form-control" id="uname" aria-describedby="unameHelp" placeholder="Enter UserName"
            formControlName="uname">
          <span id="unameHelp" *ngIf="loginForm.controls['uname'].touched">
            <small class="form-text text-error" *ngIf="loginForm.controls['uname'].errors?.required">Please enter
              your Username</small>
            
          </span>
        </div>
        <div class="form-group">
          <label for="pass">Password<sup class="asterisk">*</sup></label>
          <input type="password" class="form-control" id="pass" aria-describedby="passHelp" placeholder="Enter Password"
            formControlName="pass">
          <span id="passHelp" *ngIf="loginForm.controls['pass'].touched">
            <small class="form-text text-error" *ngIf="loginForm.controls['pass'].errors?.required">Please enter
              your password.</small>
          </span>
        </div>
        <div class="row">
          <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="login(loginForm.value)">
              Login
            </button>
          </div>
        </div>

      </div>


    </form>
  </div>
</div>
</div>

