@import '~@angular/material/theming';
@include mat-core();

$mat-indigo: (
  50: #eb7203,
  100: #eb7203,
  200: #eb7203,
  300: #eb7203,
  400: #eb7203,
  500: #eb7203,
  600: #eb7203,
  700: #eb7203,
  800: #eb7203,
  900: #eb7203,
  A100: #eb7203,
  A200: #eb7203,
  A400: #eb7203,
  A700: #eb7203,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);


$candy-app-warn:    mat-palette($mat-red);


$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);


@include angular-material-theme($candy-app-theme);









